@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
  font-family: "Handlee", cursive;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  height: 60px;
  background: #2c3e50;
}
nav #logo {
  position: absolute;
  top: 17px;
  left: 8%;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
nav ul {
  float: right;
  margin-right: 25px;
  padding-top: 10px;
}
nav ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0 15px;
  text-align: center;
}
nav ul li a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover {
 padding-bottom: 5px;
  border-bottom: 5px solid white ;
  border-radius: 50%;
}
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 840px) {
  nav #logo {
    left: 6%;
    font-size: 23px;
  }
}
@media (max-width: 740px) {
  label #btn {
    display: block;
  }
  nav #logo {
    left: 4%;
    font-size: 20px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    background-color: #274768;
    text-align: center;
    transition: all .5s;
    padding: 0px 0;
    line-height: 30px;
  }
  nav ul li{
      display: block;
  }
   #check:checked ~ ul{
      left: 0;
  }
  #check:checked ~ label #btn{
      display: none;
  }
  #check:checked ~ label #cancel{
      display: block;
  }
}
